# Rust
/target/
**/*.rs.bk

# output
out
dist

# logs
logs
*.log

# dotenv environment variable files
.env
.env.*
!.env.example
.env.local

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
